/*GENERAL STYLES*/
.App {
    font-size: 18px;
    width: 100vw;
    min-height: 100vh;
    background-color: red;
}

h2 {
    margin: 0;
}

/*TYPOGRAPHY*/

p,
header .title,
a {
    font-family: 'Barlow', sans-serif;
}

h2,
h1,
.client-testimonials .name,
.learn-more {
    font-family: 'Fraunces', serif;
}


/*HEADER*/
header {
    background-image: url("../public/images/mobile/image-header.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.5em;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav .title {
    color: hsl(0, 0%, 100%);
}

.header-text {
    text-align: center;
    margin-top: 30%;
}

.header-text h1 {
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.15em;
    font-size: 2.7rem;
}


/*MAIN*/